############################
# Dependencies
############################
node_modules/
**/node_modules/

############################
# Build outputs
############################
dist/
dist-ssr/
build/
.next/
**/.next/
out/
coverage/
**/dist/
**/build/
**/video.mp4
**/video-*.mp4

############################
# Logs
############################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# Environment variables
############################
.env
.env.*
!.env.example

############################
# Local configs
############################
*.local

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# IDE / Editors
############################
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

############################
# Misc
############################
.tmp/
.temp/
.cache/
**/.cache/